/* 
  Конфигурации
*/

/* 
  Шрифты
*/
@font-face {
  font-family: 'Armata';
  src: url("#{$base-path}fonts/armata/regular/Armata-Regular.eot?") format("eot"), 
    url("#{$base-path}fonts/armata/regular/Armata-Regular.woff") format("woff"), 
    url("#{$base-path}fonts/armata/regular/Armata-Regular.ttf") format("truetype"), 
    url("#{$base-path}fonts/armata/regular/Armata-Regular.svg#Armata-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("#{$base-path}fonts/raleway/semibold/Raleway-SemiBold.eot?") format("eot"), 
    url("#{$base-path}fonts/raleway/semibold/Raleway-SemiBold.woff") format("woff"), 
    url("#{$base-path}fonts/raleway/semibold/Raleway-SemiBold.ttf") format("truetype"), 
    url("#{$base-path}fonts/raleway/semibold/Raleway-SemiBold.svg#Raleway-SemiBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("#{$base-path}fonts/raleway/regular/Raleway-Regular.eot?") format("eot"), 
    url("#{$base-path}fonts/raleway/regular/Raleway-Regular.woff") format("woff"), 
    url("#{$base-path}fonts/raleway/regular/Raleway-Regular.ttf") format("truetype"), 
    url("#{$base-path}fonts/raleway/regular/Raleway-Regular.svg#Raleway") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* 
  Базовые настройки
*/
html, body {
  font-family: 'Raleway', Arial, sans-serif;
  @include em-reset();
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}