/* 
  Миксины и функции
*/

/* 
  Сброс EM
*/
@mixin em-reset() {
  font-size: $base-font-size;
}

/* 
  Шорткат для построения URL к изображению
*/
@function componentImg($component, $asset) {
  @return '#{$base-path}img/components/#{$component}/#{$asset}';
}