/* 
  Переменные
*/

// Базовый путь приложения
$base-path: '../';

// Базовый размер шрифта (для em)
$base-font-size: 14px;

// Цвета
$ast-white-clr: #ffffff;
$ast-white-darken-clr: #efefef;
$ast-blue-bg-clr: #3498db;
$ast-dark-blue-clr: #2d87c4;
$ast-dark-clr: #333333;
$ast-dark-text-clr: #838383;

// Размерности (from bootstrap 3)

// планшеты
$screen-sm-min: 768px;
// мониторы
$screen-md-min: 992px;