<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
  
  <title>AdvantShop test quest #1</title>

  <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <!-- main content -->
  {% block main %}
  {% endblock %}
  <!-- /main content -->
</body>
</html>