<section class="b-price-plans">
  
  <header class="b-price-plans__header">
    <h2 class="b-price-plans__title">{{ DATA.PRICING_PLANS_BLOCK.title }}</h2>
    <span class="b-price-plans__description">
      {{ DATA.PRICING_PLANS_BLOCK.description }}
    </span>
  </header>

  <div class="b-price-plans__list">
    {% for plan in DATA.PRICING_PLANS_BLOCK.plans %}
      <article class="b-price-plan">
        <header class="b-price-plan__header">
          <h4 class="b-price-plan__title">{{ plan.title }}</h4>
        </header>

        <div class="b-price-plan__price">
          <span class="b-price-plan__price_value">{{ plan.price }}</span>
        </div>

        <ul class="b-price-plan__features">
        {% for feature in plan.features %}
          <li>
            {{ feature }}
          </li>
        {% endfor %}
        </ul>

        <a class="b-price-plan__cta" href="#">Order now</a>
        
      </article>
    {% endfor %}
  </div>

</section>