/* 
  Компонент пакетных предложений
*/
.b-price-plans {
  display: flex;
  flex-direction: column;
  color: $ast-white-clr;
  font-family: 'Raleway', arial, sans-serif;
  padding: 2em 0 4em 0;
  background-image: url(componentImg('price-plans', 'background.png'));
  background-size: cover;

  /* 
    Шапка компонента
  */
  &__header {
    width: 90%;
    margin: 3em auto;
    font-size: 1em;
    text-align: center;

    @media screen and (min-width: $screen-sm-min) {
      width: 40%;
    }
  }
  &__title {
    font-size: 2em;
    font-weight: normal;
    font-family: 'Armata', arial, sans-serif;
  }
  &__description {
    color: rgba($ast-white-clr, .7);
    font-size: .9em;
    font-weight: normal;
    font-family: 'Armata';
  }

  /* 
    Список пакетов
  */
  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;

    @media screen and (min-width: $screen-sm-min) {
      flex-direction: row;
      align-items: flex-start;
      width: 80%;
    }
    @media screen and (min-width: $screen-md-min) {
      width: 60%;
    }
  }
}

/* 
  Колонка-пакет предложений
*/
.b-price-plan {
  display: block;
  width: 90%;
  margin: 1em;
  font-family: 'Railway', arial, sans-serif;
  background-color: $ast-blue-bg-clr;
  border-radius: 3px;
  box-shadow: 0 0 5px 2px rgba($ast-dark-clr, .8);

  @media screen and (min-width: $screen-sm-min) {
    width: 30%;
  }

  /* 
    Шапка пакета
  */
  &__header {
    padding: .9em 1em;
    font-size: 1.2em;
    text-align: center;
    border-bottom: 1px solid $ast-dark-blue-clr;
  }
  &__title {
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
  }

  /* 
    Цена пакета
  */
  &__price {
    padding: 1.5em 0;
    text-align: center;

    &_value {
      display: inline-block;
      padding: .25em .5em;
      font-size: 1.2em;
      font-weight: normal;
      text-align: center;
      background-color: $ast-dark-blue-clr;
      border-radius: 10px;
    }
  }

  /* 
    Список предложений
  */
  &__features {
    margin: 0;
    padding: 0;
    color: $ast-dark-text-clr;
    background-color: $ast-white-clr;

    li {
      display: block;
      padding: 1em;
      font-weight: bold;
      text-align: center;
      background-color: $ast-white-clr;

      &:nth-child(even) {
        background-color: $ast-white-darken-clr;
      }
    }
  }

  /* 
    Call to action btn
  */
  &__cta {
    display: block;
    margin-top: auto;
    padding: 1em;
    color: $ast-white-clr;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: $ast-blue-bg-clr;
    transition: background-color .3s ease;

    &:hover {
      background-color: $ast-dark-blue-clr;
    }
  }
}